
ul {
    display: flex;
    list-style: none;
    font-size: 1rem;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-style: italic;
    color: #444444;
    li {
        width: fit-content;
        text-indent: 0;
        padding: 0px 3px;
        
        a{ 
            color: #444444;            
        }
        &:last-child {
            a{
                color: tomato;
            }
        }
    }
}