@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css');
;
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css');


$theme_color: #a5124f;

html,
body,
main,
#root {
    min-height: 100% !important;
    height: 100%;
    font-size: 12px;
}
.admin {
    font-weight: 400px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    a {
        text-decoration: none !important;
    }

    h1 {
        padding: 0px 10px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    a{
        text-decoration: none;
    }  
    .adminMenuContainer {
        width: 15%;
    }
    
    .dashboard {
        box-sizing: border-box;
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .Container {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            width: 100%;
            height: calc(100% - 80px);
    
            margin: 0px 10px 0px 10px;
            padding: 10px;
            overflow: hidden;
    
    
        }
        .clearHeader {
        display: block;
        height: 80px;
        width: 100%;
        background-color: transparent;
    }
    
    .AdminHeaderContainer {
        box-sizing: border-box;
        background-color: #fff;
        height: 80px;
        width: inherit;
        display: block;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    
    .is-flex {
        display: flex !important;
    }

    .is-flex-row {
        flex-direction: row;
        justify-content: space-between !important;
    }
    .is-flex-column {

    }
    .is-flex-end {
        align-items: flex-end;
    }
    .is-flex-space-between {
        justify-content: space-between !important; 
    }
    
    .p-datatable-wrapper {
        height: 100%;
        background-color: #fff;
        border-radius: 10px 10px 0px 0px;
    }
    
    .p-paginator-bottom {
        border-radius: 0px 0px 10px 10px;
    
    }
    }
    
    
}

