<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something</title>
    {{!-- <title>{{> page/title}}</title> --}}
</head>
<body>
    <div class="app">
        <header></header>

        <div class="container">

        </div>
        
        <footer></footer>
    </div>
    {{{body}}}
</body>
</html>