.Product {
    box-sizing: border-box;
    background-color: white;
    // background-color: brown;
    padding: 15px;
    max-width: 220px;
    width: 220px;
    height: 100%;
    min-height: 400px;
    max-height: 400px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #8f8f8f;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Container {
        display: block;
        box-sizing: border-box;

        background-color: white;

        a {
            color: black;
            text-decoration: none;
        }
        
        .ContainerProduct {
            padding: 0px;
            display: flex;
            margin-bottom: 10px;
            box-sizing: border-box;
            background-color: transparent;

            width: inherit;
            .containerDetail {
                width: 100%;
            }
    
            text-align: left;

            img {
                box-sizing: border-box;
                width: auto;
                max-height: 170px;

                &:hover {
                    scale: 1.05;
                }
            }

            .imgBox {
                box-sizing: border-box;
            }

            .brandBox {
                box-sizing: border-box;
                font-size: 0.75em;
                color: gray;
                text-align: left;
                width: 100%;
            }

            .titleBox {
                box-sizing: border-box;
                overflow-wrap: break-word;

                font-size: 0.7em;
                font-weight: 400;
                color: black;
                text-align: left;
                width: inherit;
                min-height: 6em;
                
            }
            
            .priceBox {
                box-sizing: border-box;
                
                font-size: 1em;
                min-height: 2em;
                font-weight: 700;
                color: tomato;
            }
        }
    }
}

.Button {
    box-sizing: border-box;
    font-size: 0.75em;
    font-weight: 600;
    color: tomato;
    border: 2px solid tomato;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    padding: 10px;

    &:hover {
        cursor: pointer;
        color: white;
        background-color: tomato;
    }
}

